In [1]:
import pandas as pd

In [13]:
unc_path_df_cleaned_experiment_clients_data = '/Users/jon/Desktop/Ironhack/Unit 4 - Statistics & Probability/Project-Statistics/Databases/Raw/df_final_experiment_clients.txt'
df_experiment_clients_data  = pd.read_csv(unc_path_df_cleaned_experiment_clients_data)

In [14]:
df_experiment_clients_data

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [15]:
df_experiment_clients_data['Variation'].unique()

array(['Test', 'Control', nan], dtype=object)

In [17]:
df_cleaned_experiment_clients_data=df_experiment_clients_data.dropna()

In [19]:
df_cleaned_experiment_clients_data["Variation"].unique()

array(['Test', 'Control'], dtype=object)

In [21]:
df_cleaned_experiment_clients_data.to_csv('/Users/jon/Desktop/Ironhack/Unit 4 - Statistics & Probability/Project-Statistics/Databases/Cleaned/df_cleaned_experiment_clients_data.txt', index=False)