In [1]:
import pandas as pd

In [2]:
unc_path_df_final_demo_cleaned= '/Users/jon/Desktop/Ironhack/Unit 4 - Statistics & Probability/Project-Statistics/Databases/cleaned/df_final_demo_cleaned.txt'
df_final_demo_cleaned  = pd.read_csv(unc_path_df_final_demo_cleaned)

DAY 1 & 2

Answer the following questions about demographics:
Who are the primary clients using this online process?
Are the primary clients younger or older, new or long-standing?

In [5]:
df_final_demo_cleaned_sorted=df_final_demo_cleaned.sort_values(by='client_id', ascending=True)
df_final_demo_cleaned_sorted.head()

,client_id,client_tenure_year,client_tenure_month,client_age,gender,number_of_accounts_,balance,calls_past_6_months,logins_last_6_months
39346,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0
1008,647,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0
38492,722,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0
8591,934,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0
31267,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0

Average client tenure and balance by gender

In [7]:
# Create a copy of the original DataFrame
df_demo_analysis_gender = df_final_demo_cleaned_sorted.copy()

# Average Client Tenure Year by Gender
avg_tenure_gender = df_demo_analysis_gender.groupby('gender')['client_tenure_year'].mean().reset_index()

# Average Balance by Gender
avg_balance_gender = df_demo_analysis_gender.groupby('gender')['balance'].mean().reset_index()

# Optional: Merge both into one summary table
summary_gender = pd.merge(avg_tenure_gender, avg_balance_gender, on='gender')
summary_gender.rename(columns={
    'client_tenure_year': 'avg_client_tenure_year',
    'balance': 'avg_balance'
}, inplace=True)

# Print results
print("Average Client Tenure Year by Gender:")
print(avg_tenure_gender)

print("\nAverage Balance by Gender:")
print(avg_balance_gender)

print("\nCombined Summary by Gender:")
print(summary_gender)

Average Client Tenure Year by Gender:
  gender  client_tenure_year
0      F           14.792790
1      M           14.882608

Average Balance by Gender:
  gender        balance
0      F  135565.422432
1      M  212299.868067

Combined Summary by Gender:
  gender  avg_client_tenure_year    avg_balance
0      F               14.792790  135565.422432
1      M               14.882608  212299.868067

Average client tenure and balance by age

In [8]:
# Create a copy of the original DataFrame
df_demo_analysis_age = df_final_demo_cleaned_sorted.copy()

# Define age bins and labels
bins = [0, 17, 24, 34, 44, 54, 64, float('inf')]
labels = ['0-17', '18-24', '25-34', '35-44', '45-54', '55-64', '65+']

# Create Age Group column
df_demo_analysis_age['age_group'] = pd.cut(df_demo_analysis_age['client_age'], bins=bins, labels=labels, right=True)

# Average Client Tenure Year by Age Group
avg_tenure_age = df_demo_analysis_age.groupby('age_group')['client_tenure_year'].mean().reset_index()

# Average Balance by Age Group
avg_balance_age = df_demo_analysis_age.groupby('age_group')['balance'].mean().reset_index()

# Optional: Merge both into one summary table
summary_age = pd.merge(avg_tenure_age, avg_balance_age, on='age_group')
summary_age.rename(columns={
    'client_tenure_year': 'avg_client_tenure_year',
    'balance': 'avg_balance'
}, inplace=True)

# Print results
print("Average Client Tenure Year by Age Group:")
print(avg_tenure_age)

print("\nAverage Balance by Age Group:")
print(avg_balance_age)

print("\nCombined Summary by Age Group:")
print(summary_age)

Average Client Tenure Year by Age Group:
  age_group  client_tenure_year
0      0-17           15.833333
1     18-24           13.505108
2     25-34           12.392793
3     35-44           13.579901
4     45-54           15.196001
5     55-64           15.585968
6       65+           17.369991

Average Balance by Age Group:
  age_group        balance
0      0-17   41644.761771
1     18-24   57342.272151
2     25-34   85736.451236
3     35-44  128720.033756
4     45-54  180676.961986
5     55-64  222880.889675
6       65+  264829.956246

Combined Summary by Age Group:
  age_group  avg_client_tenure_year    avg_balance
0      0-17               15.833333   41644.761771
1     18-24               13.505108   57342.272151
2     25-34               12.392793   85736.451236
3     35-44               13.579901  128720.033756
4     45-54               15.196001  180676.961986
5     55-64               15.585968  222880.889675
6       65+               17.369991  264829.956246

/var/folders/_2/ksgd3nl52j9g0sxwpjjd1bgh0000gn/T/ipykernel_5831/2499144706.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_tenure_age = df_demo_analysis_age.groupby('age_group')['client_tenure_year'].mean().reset_index()
/var/folders/_2/ksgd3nl52j9g0sxwpjjd1bgh0000gn/T/ipykernel_5831/2499144706.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_balance_age = df_demo_analysis_age.groupby('age_group')['balance'].mean().reset_index()

Average client tenure and balance by gender and age

In [9]:
# Define age bins and labels
bins = [0, 17, 24, 34, 44, 54, 64, float('inf')]
labels = ['0-17', '18-24', '25-34', '35-44', '45-54', '55-64', '65+']

# Make a copy of the original DataFrame
df_demo_analysis_age_gender = df_final_demo_cleaned_sorted.copy()

# Define age bins and labels
bins = [0, 17, 24, 34, 44, 54, 64, float('inf')]
labels = ['0-17', '18-24', '25-34', '35-44', '45-54', '55-64', '65+']

# Create Age Group column
df_demo_analysis_age_gender['age_group'] = pd.cut(df_demo_analysis_age_gender['client_age'], bins=bins, labels=labels, right=True)

# Average Client Tenure Year by Gender and Age Group
avg_tenure = df_demo_analysis_age_gender.groupby(['gender', 'age_group'])['client_tenure_year'].mean().reset_index()

# Average Balance by Gender and Age Group
avg_balance = df_demo_analysis_age_gender.groupby(['gender', 'age_group'])['balance'].mean().reset_index()

# Optional: Merge both summaries into one table
summary = pd.merge(avg_tenure, avg_balance, on=['gender', 'age_group'])
summary.rename(columns={
    'client_tenure_year': 'avg_client_tenure_year',
    'balance': 'avg_balance'
}, inplace=True)

# Print results
print("Average Client Tenure Year by Gender and Age Group:")
print(avg_tenure)

print("\nAverage Balance by Gender and Age Group:")
print(avg_balance)

print("\nCombined Summary:")
print(summary)

Average Client Tenure Year by Gender and Age Group:
   gender age_group  client_tenure_year
0       F      0-17           15.711111
1       F     18-24           13.547980
2       F     25-34           12.478065
3       F     35-44           13.470588
4       F     45-54           15.072742
5       F     55-64           15.443277
6       F       65+           17.209314
7       M      0-17           15.941176
8       M     18-24           13.470103
9       M     25-34           12.320835
10      M     35-44           13.681667
11      M     45-54           15.319651
12      M     55-64           15.734528
13      M       65+           17.527369

Average Balance by Gender and Age Group:
   gender age_group        balance
0       F      0-17   46038.483333
1       F     18-24   53577.183712
2       F     25-34   71170.416175
3       F     35-44  108311.382542
4       F     45-54  143608.047413
5       F     55-64  168076.610705
6       F       65+  183283.652414
7       M      0-17   37767.948627
8       M     18-24   60416.447454
9       M     25-34   98028.055572
10      M     35-44  147719.516195
11      M     45-54  217863.485647
12      M     55-64  279939.382383
13      M       65+  344702.349635

Combined Summary:
   gender age_group  avg_client_tenure_year    avg_balance
0       F      0-17               15.711111   46038.483333
1       F     18-24               13.547980   53577.183712
2       F     25-34               12.478065   71170.416175
3       F     35-44               13.470588  108311.382542
4       F     45-54               15.072742  143608.047413
5       F     55-64               15.443277  168076.610705
6       F       65+               17.209314  183283.652414
7       M      0-17               15.941176   37767.948627
8       M     18-24               13.470103   60416.447454
9       M     25-34               12.320835   98028.055572
10      M     35-44               13.681667  147719.516195
11      M     45-54               15.319651  217863.485647
12      M     55-64               15.734528  279939.382383
13      M       65+               17.527369  344702.349635

/var/folders/_2/ksgd3nl52j9g0sxwpjjd1bgh0000gn/T/ipykernel_5831/1618474152.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_tenure = df_demo_analysis_age_gender.groupby(['gender', 'age_group'])['client_tenure_year'].mean().reset_index()
/var/folders/_2/ksgd3nl52j9g0sxwpjjd1bgh0000gn/T/ipykernel_5831/1618474152.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_balance = df_demo_analysis_age_gender.groupby(['gender', 'age_group'])['balance'].mean().reset_index()

AVERAGE BALANCE BY TENURE GROUPS

In [10]:
# Copy the original DataFrame
df_demo_analysis = df_final_demo_cleaned_sorted.copy()

# Define tenure bins and labels
tenure_bins = [0, 2, 5, 9, float('inf')]
tenure_labels = ['0-2 years', '3-5 years', '6-9 years', '10+ years']

# Create tenure group column
df_demo_analysis['tenure_group'] = pd.cut(df_demo_analysis['client_tenure_year'], bins=tenure_bins, labels=tenure_labels, right=True)

# Average balance by tenure group
avg_balance_by_tenure_group = df_demo_analysis.groupby('tenure_group')['balance'].mean().reset_index()

# Optional: Rename column for clarity
avg_balance_by_tenure_group.rename(columns={'balance': 'avg_balance'}, inplace=True)

# Print results
print("Average Balance by Tenure Group:")
print(avg_balance_by_tenure_group)

Average Balance by Tenure Group:
  tenure_group    avg_balance
0    0-2 years  246155.706000
1    3-5 years  138993.621173
2    6-9 years  133950.407723
3    10+ years  184681.675586

/var/folders/_2/ksgd3nl52j9g0sxwpjjd1bgh0000gn/T/ipykernel_5831/573797904.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_balance_by_tenure_group = df_demo_analysis.groupby('tenure_group')['balance'].mean().reset_index()

WRITE HERE THE DESCRIPTION OF THE DEMOGRAPHIFCS SEEN FORM THE ABOVE ANALYSIS