In [1]:
import pandas as pd

In [25]:
# Load your CSV or paste raw data
df = pd.read_csv("/Users/jon/Desktop/Ironhack/Unit 4 - Statistics & Probability/Project-Statistics/Databases/cleaned/df_cleaned_merged_web_data_pt.txt", parse_dates=["date_time"])
variation_df = pd.read_csv("/Users/jon/Desktop/Ironhack/Unit 4 - Statistics & Probability/Project-Statistics/Databases/cleaned/df_cleaned_experiment_clients_data.txt")
demographics_df = pd.read_csv("/Users/jon/Desktop/Ironhack/Unit 4 - Statistics & Probability/Project-Statistics/Databases/cleaned/df_final_demo_cleaned.txt")

Experiment Evaluation
You are also required to carry out an evaluation of the experiment by answering questions about the design effectiveness, duration and any additional data needs. See the full details below:

1) Design Effectiveness
-Was the experiment well-structured?
-Were clients randomly and equally divided between the old and new designs?
-Were there any biases?
2) Duration Assessment
-Was the timeframe of the experiment (from 3/15/2017 to 6/20/2017) adequate to gather meaningful data and insights?
3) Additional Data Needs
-What other data, if available, could enhance the analysis?

1) DESIGN EFFECTIVENESS

In [38]:
demographics_variation_merged_df = demographics_df.merge(variation_df, on="client_id", how="left")

In [40]:
#Drop Nan values

demographics_variation_merged_clean_df=demographics_variation_merged_df.dropna()

DISTRIBUTION IN EACH VARIATION GROUP

In [32]:
# Calculate the % of each variation in the demographics data

variation_counts = round(demographics_variation_merged_clean_df['Variation'].value_counts(normalize=True) * 100,2)
variation_counts

Variation
Test       53.28
Control    46.72
Name: proportion, dtype: float64

DISTRIBUTION BY GENDER

In [43]:
# Calculate gender distribution
gender_distribution = demographics_variation_merged_clean_df['gender'].value_counts(normalize=True) * 100
print("Gender distribution:")
print(gender_distribution.round(2))

Gender distribution:
gender
M    51.04
F    48.96
Name: proportion, dtype: float64

DISTRIBUTION BY GENDER

In [46]:
#Add age_group column
demographics_variation_merged_clean_df

,client_id,client_tenure_year,client_tenure_month,client_age,gender,number_of_accounts_,balance,calls_past_6_months,logins_last_6_months,Variation
0,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test
1,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control
2,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0,Test
3,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0,Control
4,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0,Test
...,...,...,...,...,...,...,...,...,...,...
33200,1780858,21.0,262.0,68.5,M,3.0,372100.59,6.0,9.0,Test
33201,6967120,21.0,260.0,68.5,M,3.0,4279873.38,6.0,9.0,Control
33202,5826160,20.0,249.0,56.5,F,2.0,44837.16,2.0,5.0,Test
33203,8739285,19.0,229.0,69.5,F,2.0,44994.24,1.0,4.0,Test
33204,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test

In [62]:
demographics_variation_merged_clean_age_df = demographics_variation_merged_clean_df.copy()

# Then create the age_group column on that copy
bins = [0, 17, 24, 34, 44, 54, 64, 100]
labels = ["<18", "18-24", "25-34", "35-44", "45-54", "55-64", "65+"]

demographics_variation_merged_clean_age_df["age_group"] = pd.cut(
    demographics_variation_merged_clean_age_df["client_age"],
    bins=bins,
    labels=labels,
    right=True,
    include_lowest=True
)
# Calculate age group distribution
age_group_distribution = demographics_variation_merged_clean_age_df['age_group'].value_counts(normalize=True) * 100

age_group_percent = demographics_variation_merged_clean_age_df['age_group'].value_counts(normalize=True).reindex(labels) * 100
print(age_group_percent)

age_group
<18       0.003012
18-24     2.924258
25-34    16.054811
35-44    17.515434
45-54    21.168499
55-64    23.641018
65+      18.692968
Name: proportion, dtype: float64

DISTRIBUTION IN EACH VARIATION GROUP BY GENDER

In [33]:
# Count number of users in each Variation group by gender
gender_counts_per_variation = demographics_variation_merged_clean_df.groupby(["Variation", "gender"])["client_id"].count().unstack(fill_value=0)

# Calculate percentages of gender within each Variation group
gender_distribution = gender_counts_per_variation.div(gender_counts_per_variation.sum(axis=1), axis=0) * 100

# Display results
print("Gender distribution within each Variation group:")
print(gender_distribution.round(2))

Gender distribution within each Variation group:
gender         F      M
Variation
Control    48.62  51.38
Test       49.26  50.74

DISTRIBUTION IN EACH VARIATION GROUP BY AGE GROUP

In [64]:
# Count number of users in each Variation group by gender
age_counts_per_variation = demographics_variation_merged_clean_age_df.groupby(["Variation", "age_group"])["client_id"].count().unstack(fill_value=0)

# Calculate percentages of gender within each Variation group
age_distribution = age_counts_per_variation.div(age_counts_per_variation.sum(axis=1), axis=0) * 100

# Display results
print("Gender distribution within each Variation group:")
print(age_distribution.round(2))

Gender distribution within each Variation group:
age_group   <18  18-24  25-34  35-44  45-54  55-64    65+
Variation
Control    0.01   2.86  15.73  17.35  21.07  24.01  18.97
Test       0.00   2.98  16.34  17.66  21.25  23.32  18.45

/var/folders/_2/ksgd3nl52j9g0sxwpjjd1bgh0000gn/T/ipykernel_11747/459939810.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_counts_per_variation = demographics_variation_merged_clean_age_df.groupby(["Variation", "age_group"])["client_id"].count().unstack(fill_value=0)

PARECE SER QUE SE DISTRIBUYE POR IGUAL LOS DATOS RECOGIDOS POR EDAD Y GÃ‰NERO ENTRE LOS GRUPOS TEST Y CONTROL, CON UNA MUESTRA TAN GRANDE NO PARECE QUE HAYA NINGÃšN SESGO.

LOS TIEMPOS DE RECOGIDA DE DATOS ES ADECUADO YA QUE ES CAUNDO SE ESTUBO HACIENDO LA PRUEBA DEL NUEVO MODELO